<!-- CUPON -->

<div class="cupon">
    <p>¡PUBLICÁ GRATIS EN NUESTRA PÁGINA!</p>
</div>

<!-- COMIENZO CABECERA -->

<header>
    <div class="mensaje">
        <% if (locals.usuario) { %>
            <p style="color:white; display:inline; margin:20px;"> ¡ Bienvenido <%=usuario.data.email %> !</p>
            <a href="/usuarios/cerrar_sesion">Cerrar Sesión</a>

            <% } else { %>
                <a href="/usuarios/crear_cuenta">Crear cuenta</a>
                <a href="/usuarios/iniciar_sesion">Iniciar Sesión</a>
                <% } %>
                    <a href="/contacto/ayuda">Ayuda</a>
    </div>
    <div class="top-menu">
        <button class="hamburger" id="hambIcon">
            <img src="/imgs/hamb2.png" alt="hamburger icon">
        </button>
        <div class="logo">
            <a href="/">
                <img src="/imgs/logo11.png" alt="Logo de la compañia">
            </a>
        </div>

        <!--       BARRA BUSQUEDA A MOSTRAR EN VISTA MAYOR A 800PX  -->

        <div class="barraBusqueda">
            <input type="text" id="barraBusqueda" name="barraBusqueda" placeholder=" 🔍 ¿Qué estás buscando?">
            <button>
                <a href="#">Buscar</a>
            </button>
        </div>

        <!-- ------------------------------------------------------------ -->

        <div class="contenedor-der">
            <% if (locals.usuario) { %>

                <div class="avatar">
                    <img src=<%=usuario.data.avatar %> alt="Avatar">
                </div>
                <button class="btn_misproductos">
                    <a href="/productos/misproductos">Mis Productos</a>
                </button>
                <% } else { %>
                    <button class="inicioSesion">
                        <a href="/usuarios/iniciar_sesion">
                            <img src="/imgs/user2.png" alt="Iniciar Sesión icon">
                        </a>
                        <% } %>

                    </button>
                    <button class="busqueda">
                        <img src="/imgs/search-3-256.png" alt="busqueda">
                    </button>
        </div>
    </div>

    <div class="barraBusquedaMobile">
        <input type="text" id="barraBusquedaMobile" name="barraBusquedaMobile" placeholder=" 🔍 ¿Qué estás buscando?">

        <button>
            <a href="#">Buscar</a>
        </button>

    </div>

    <!--   MENU DESPLEGABLE  -->

    <div class="menu-desplegable" id="menuDesple">
        <ul>
            <% if (!locals.usuario) { %>
                <div class="vista-mobile">
                    <li> <a href="/usuarios/crear_cuenta">Crear Cuenta</a> </li>
                    <li> <a href="/usuarios/iniciar_sesion">Iniciar Sesión</a> </li>
                </div>
                <% } else { %>
                    <div class="vista-mobile">
                        <li> <a href="/usuarios/cerrar_sesion">Cerrar Sesión</a> </li>
                        <li> <a href="/productos/mis_productos">Mis Productos</a> </li>
                    </div>
                    <% } %>

                        <div class="container-submenus">
                            <li> <a href="/productos/publicar">Publicar</a> </li>
                        </div>
                        <div class="container-submenus">
                            <li> <a href="#" id="btnCategorias">Categorías <i class="fa fa-chevron-circle-down"></i>
                                </a> </li>
                            <div class="subMenu">
                                <ul>
                                    <li><a href="#" id="btnMujer">Mujer <i class="fa fa-caret-down"></i></a></li>
                                    <div class="subMenuSecundario">
                                        <ul>
                                            <li><a href="/productos/0" class="opcion">Indumentaria</a></li>
                                            <li><a href="/productos/1" class="opcion">Calzado</a></li>
                                            <li><a href="/productos/2" class="opcion">Accesorios</a></li>
                                            <li><a href="/productos/3" class="opcion">Ver todo</a></li>
                                        </ul>
                                    </div>
                                    <li><a href="#" id="btnHombre">Hombre <i class="fa fa-caret-down"></i></a></li>
                                    <div class="subMenuSecundario">
                                        <ul>
                                            <li><a href="/productos/4" class="opcion">Indumentaria</a></li>
                                            <li><a href="/productos/5" class="opcion">Calzado</a></li>
                                            <li><a href="/productos/6" class="opcion">Accesorios</a></li>
                                            <li><a href="/productos/7" class="opcion">Ver todo</a></li>
                                        </ul>
                                    </div>
                                    <li><a href="#" id="btnNinios">Niños <i class="fa fa-caret-down"></i></a></li>
                                    <div class="subMenuSecundario">
                                        <ul>
                                            <li><a href="#" class="opcion">Indumentaria</a></li>
                                            <li><a href="#" class="opcion">Calzado</a></li>
                                            <li><a href="#" class="opcion">Accesorios</a></li>
                                            <li><a href="./listado-producto.html" class="opcion">Ver todo</a></li>
                                        </ul>
                                    </div>
                                    <li><a href="#" id="btnSinGenero">Sin género <i class="fa fa-caret-down"></i></a>
                                    </li>
                                    <div class="subMenuSecundario">
                                        <ul>
                                            <li><a href="#" class="opcion">Indumentaria</a></li>
                                            <li><a href="#" class="opcion">Calzado</a></li>
                                            <li><a href="#" class="opcion">Accesorios</a></li>
                                            <li><a href="./listado-producto.html" class="opcion">Ver todo</a></li>
                                        </ul>
                                    </div>
                                    <li><a href="/productos">Ver todo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container-submenus">
                            <li> <a href="#" id="btnDeporte">Deporte <i class="fa fa-chevron-circle-down"></i></a>
                            </li>
                            <div class="subMenu">
                                <ul>
                                    <li><a href="#">Fútbol</a></li>
                                    <li><a href="#">Tenis</a></li>
                                    <li><a href="#">Running</a></li>
                                    <li><a href="#">Natación</a></li>
                                    <li><a href="./listado-producto.html">Ver todo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container-submenus">
                            <li> <a href="#" id="btnMarcas">Marcas <i class="fa fa-chevron-circle-down"></i></a>
                            </li>
                            <div class="subMenu">
                                <ul>
                                    <li><a href="#">Nike</a></li>
                                    <li><a href="#">Adidas</a></li>
                                    <li><a href="#">Reebok</a></li>
                                    <li><a href="#">Puma</a></li>
                                    <li><a href="./listado-producto.html">Ver todo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container-submenus">
                            <li> <a href="/productos/todos/accesorios">Accesorios</a> </li>
                        </div>

                        <div class="container-submenus">
                            <li> <a href="#">Ofertas</a> </li>
                        </div>

                        <div class="container-submenus">
                            <li> <a href="/contacto">Contactanos</a> </li>
                        </div>

        </ul>
    </div>
</header>