<!-- NEWSLETTER -->

<div class="newsletter">
    <h2>SUSCRIBITE A NUESTRO NEWSLETTER</h2>
    <form action="/mail" method="post">
        <input type="email" id="email" name="email" placeholder="¡ Ingresa tu email ✉ !">
        <a type="submit">
            <button class="btn_suscribirse">SUSCRIBIRSE</button>
        </a>
    </form>
</div>