<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_form.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/imgs/tshirt.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Registro - ARG DESIGN</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/imgs/logo11.png" alt="Logo de la compañia"></a>
        </div>
    </header>
    <% if (locals.msj) { %>
        <div class="alert alert-danger center-block" style="width: 80%;" role="alert"> <i
                class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>
                <%=msj %>
            </strong>
        </div>
        <% } %>

            <div class="container-fondo">
                <div class="titulo">
                    <h5>Formulario de registro</h5>
                </div>

                <div class="container-campos">
                    <form action="/usuarios/crear_cuenta" method="post" enctype="multipart/form-data">
                        <!-- for y id tienen que coincidir(?) para bindearlos juntos -->

                        <fieldset>

                            <div class="campo">
                                <label for="nombre">Nombre</label><br>
                                <input type="text" id="nombre" name="nombre"><br>
                            </div>
                            <div class="campo">
                                <label for="apellido">Apellido</label><br>
                                <input type="text" id="apellido" name="apellido">
                            </div>
                            <div class="campo">
                                <label for="email">Email</label><br>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="campo">
                                <label for="pwd">Contraseña</label><br>
                                <input type="password" id="pwd" name="pwd" required>
                            </div>
                            <div class="campo">
                                <label for="myfile">Foto de perfil:</label>
                                <input type="file" id="myfile" name="myfile" required>

                            </div>
                            <div class=btnRegistro>
                                <input type="submit" value="Registrarme" class="boton">
                            </div>
                        </fieldset>

                    </form>
                    <div class="recomendacionCuenta">
                        <p>¿Ya tenés una cuenta?</p>
                        <a href="iniciar_sesion">
                            <button class="boton"><i class="fa fa-sign-in"></i> Iniciar sesión</button>
                        </a>

                    </div>

                </div>
            </div>

            <%- include('partials/footer') -%>

                <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>