<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilosRespuesta.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/imgs/tshirt.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Iniciar Sesi칩n - ARG DESIGN</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/imgs/logo11.png" alt="Logo de la compa침ia"></a>
        </div>
    </header>

    <div class="imagen">
        <img src=<%=source %> alt= <%=alt %> >
    </div>


    <div class="alert alert-success" role="alert">
        <strong>
            <i class="fa fa-check-circle"></i>
            <%=msj %>
        </strong>
    </div>

    <div class="recomendacionCuenta">
        <a href="iniciar_sesion">
            <button class="boton"><i class="fa fa-sign-in"></i> Iniciar sesi칩n</button>
        </a>
    </div>
    <div class="recomendacionCuenta">
        <a href="/">
            <button class="boton"><i class="fa fa-home"></i> Volver a la p치gina principal</button>
        </a>
    </div>

    <%- include('partials/footer') -%>

        <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>