body {
    padding: 0;
    margin: 0;
}

/* NECESARIOS PARA EL MANEJO DEL MENU CON JAVASCRIPT Y BARRA DE BUSQUEDA
 */

.menu-desplegable, .subMenu, .subMenuSecundario, .barraBusquedaMobile {
    display: none;
}

.show {
    display: block;
}

/* --------------------------------------------------- */

header {
    background-color: #0a0b44;
    padding: 5px 0;
    flex-wrap: wrap;
}

.cupon {
    background-color: #ad3027;
    padding: 15px;
    border: 3px solid black;
}

.cupon p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0;
}

.mensaje {
    box-sizing: border-box;
    text-align: end;
    margin: 5px;
    display: none;
}

.mensaje a {
    /* border: 1px solid salmon; */
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-start;
    align-items: center;
}

/* ESCONDO EL MENU DEL MEDIO */

.barraBusqueda {
    display: none;
}

.hamburger {
    background-color: #0a0b44;
    /* border: 1px solid yellow; */
    width: 15%;
    box-sizing: border-box;
}

.hamburger img {
    width: 100%;
}

.logo {
    /*      border: 1px solid blueviolet; 
 */
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
}

/* ANIMACIÓN LOGO */

@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.logo:hover, .logo:focus, .logo:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* ---------------------------------------------------------- */

/* MENU DESPLEGABLE */

.contenedor-der {
    display: flex;
    /*  border: 1px solid greenyellow; */
    width: 30%;
    justify-content: space-around;
}

.inicioSesion {
    /* border: 1px solid orange; */
    background-color: #0a0b44;
    box-sizing: border-box;
    width: 30%;
}

.inicioSesion img {
    width: 100%;
}

.avatar {
    width: 65%;
    margin: 10px;
    box-sizing: border-box;
}

.avatar img {
    width: 100%;
}

.busqueda {
    background-color: #0a0b44;
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 30%;
}

.busqueda img {
    width: 100%;
}

.barraBusquedaMobile {
    width: 100%;
    margin: 10px 3px;
}

.barraBusquedaMobile input {
    width: 90%;
    display: block;
    margin: auto;
}

.barraBusquedaMobile button {
    display: block;
    margin: 15px auto;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.barraBusquedaMobile button a {
    text-decoration: none;
    color: inherit;
}

.btn_misproductos {
    display: none;
}

.menu-desplegable ul {
    margin: 0;
    padding: 0;
}

.menu-desplegable ul li {
    list-style: none;
    background-color: black;
    margin: 5px;
    padding: 5px 10px;
}

.menu-desplegable ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.subMenu ul li {
    background-color: #383838;
}

.subMenu ul li a {
    margin: 3%;
}

.subMenuSecundario ul li {
    background-color: #585858;
}

.subMenuSecundario ul li a {
    margin: 15%;
}

.inicioSesion-mobile {
    margin-top: 15px;
}

.btn-whatsapp {
    display: block;
    width: 5%;
    height: 12%;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

/* SLOGAN */

.slogan {
    color: black;
    text-align: center;
    font-style: italic;
    width: 100%;
    background-color: #cdcdcf;
}

.slogan hr {
    width: 90%;
    height: 2%;
    margin: 2px auto;
}

.slogan h1 {
    margin: 0;
    padding: 25px;
    color: black;
    font-size: 20px;
}

/* CARRUSEL */

.container-carousel {
    background-image: url(../imgs/white3.jpg);
    background-repeat: round;
}

/* PROMOCIONES */

.promociones {
    text-align: center;
    padding: 15px 0;
}

.promociones h1 {
    margin: 20px;
}

.promociones button {
    margin: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.promociones button:hover {
    background-color: black;
    color: white;
}

.promociones button a {
    text-decoration: none;
    color: inherit;
}

/* LISTA DE CARTAS
 */

.container {
    margin-top: 110px !important;
    /* border: 1px solid blue; */
}

.card {
    border: none;
    outline: none;
    background-color: white !important;
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1 {
    font-size: 13px;
    color: black;
}

.info {
    line-height: 17px;
}

.star {
    font-size: 25px !important;
    color: yellow;
}

.cost span {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.boton {
    background-color: black;
}

.card:hover {
    opacity: .8;
    cursor: pointer;
}

.promociones button {
    margin: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.promociones button:hover {
    background-color: black;
    color: white;
}

/* BANNER */

.banner {
    background-color: #ff4a4f;
    color: white;
    text-align: center;
}

.banner h1 {
    padding: 15px;
    font-weight: bolder;
}

.banner p {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.banner button {
    margin: 15px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
}

.banner button:hover {
    background-color: black;
    color: white;
}

/* PRODUCTOS */

.container-productos {
    padding: 15px;
    background-color: #cdcdcf;
    text-align: center;
}

.container-productos h1 {
    color: black;
    padding: 15px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 30%;
    margin: 10px auto;
    padding: 3%;
    border: 2px solid black;
    background-color: rgb(192, 191, 191);
    cursor: pointer;
}

.producto:hover {
    -webkit-box-shadow: 5px 7px 7px 8px rgba(0, 0, 0, 0.72);
    box-shadow: 5px 7px 7px 8px rgba(0, 0, 0, 0.72);
}

.producto img {
    width: 100%;
}

.producto p {
    font-size: 20px;
    width: 100%;
    margin: 5% 0;
    text-align: center;
}

.container-productos button {
    margin: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.container-productos button:hover {
    background-color: black;
    color: white;
}

.container-productos button a {
    text-decoration: none;
    color: inherit;
}

/* NEWSLETTER */

.newsletter {
    padding: 20px;
    background-image: url(../imgs/the-background-292720_1280.png);
    text-align: center;
}

.newsletter h2 {
    /* border: 1px solid yellow; */
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    color: black;
    width: 50%;
    text-decoration: underline;
    font-size: 20px;
}

.newsletter input {
    display: block;
    margin: auto;
    padding: 10px;
    width: 75%;
    text-align: center;
}

.btn_suscribirse {
    margin: 25px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.btn_suscribirse:hover {
    background-color: black;
    color: white;
}

/* FOOTER */

footer {
    background-color: #0a0b44;
}

.caja-footer {
    display: flex;
    flex-direction: column;
}

.titulo-footer {
    font-family: 'Asap', sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    padding: 5px 0px;
    margin: 5px;
}

.logo-footer {
    width: 125px;
    margin: 0px auto;
}

.logo-footer img {
    width: 100%;
}

.cuerpo-footer p {
    font-family: 'Asap', sans-serif;
    color: white;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.redes-sociales {
    width: 100%;
    display: flex;
    /* border: 1px solid pink; */
    justify-content: center;
    margin: 5px;
}

.redes-sociales button {
    background-color: transparent;
    border: none;
    width: 10%;
    margin: 0px 15px;
}

.redes-sociales button img {
    width: 100%;
}

.alFinal {
    margin: auto;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Asap', sans-serif;
}

.mapa iframe {
    display: block;
    margin: 0px auto;
}

.fin-footer {
    color: white;
    font-size: 13px;
    padding: 1px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.parrafo-footer {
    font-family: 'Asap', sans-serif;
    color: white;
    padding: 5px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.parrafo-footer img {
    width: 13%;
    display: block;
    margin: 0px auto;
}

.parrafo-footer p {
    margin: 1px;
    padding: 10px;
}

.container-footer hr {
    color: white;
    width: 95%;
    margin: 5px auto;
    height: 2%;
}

@media (min-width: 745px) {
    /*     ESCONDO ELEMENTOS
 */
    .hamburger, .busqueda, .vista-mobile, .tarjetasMobile, .barraBusquedaMobile {
        display: none;
    }
    /*     MUESTRO ELEMENTOS  */
    .mensaje, .barraBusqueda, .inicioSesion, .menu-desplegable {
        display: block;
    }
    .mensaje a, .titulo-footer, .cuerpo-footer p {
        font-size: 15px;
        margin: 5px;
    }
    .barraBusqueda {
        width: 60%;
        display: flex;
    }
    .barraBusqueda input {
        width: 80%;
        height: min-content;
        margin: auto;
    }
    .barraBusqueda button, .btn_misproductos {
        display: block;
        margin: 15px auto;
        background-color: black;
        color: white;
        padding: 10px;
        border: 1px solid black;
    }
    .barraBusqueda button a {
        text-decoration: none;
        color: inherit;
    }
    .btn_misproductos a {
        color: white;
        text-decoration: none;
    }
    .btn_misproductos a:hover {
        color: white;
        text-decoration: none;
    }
    .top-menu {
        justify-content: space-evenly;
    }
    .logo {
        width: 15%;
    }
    .logo img {
        width: 100%;
    }
    .contenedor-der {
        width: 15%;
    }
    .inicioSesion {
        width: 25%;
    }
    .avatar {
        width: 65%;
    }
    .btn-whatsapp {
        width: 2%;
    }
    .menu-desplegable {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
    }
    .menu-desplegable ul {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        width: 90%;
    }
    .menu-desplegable ul li {
        padding: 5px 10px;
        margin: 3px;
        text-align: center;
    }
    .container-submenus {
        position: relative;
        display: inline-block;
        width: 13%;
    }
    .subMenu {
        position: absolute;
        background-color: black;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
    .subMenu ul {
        flex-direction: column;
        width: 100%;
    }
    .subMenuSecundario ul li a {
        margin: 5%;
    }
    .subMenu ul li a {
        margin: 0%;
    }
    #carouselExampleFade {
        width: 100%;
    }
    .banner p {
        font-size: 15px;
    }
    .producto {
        padding: 1%;
        width: 14%;
        margin: 10px;
    }
    .producto p {
        font-size: 15px;
    }
    .container-productos button {
        padding: 1%;
    }
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .caja-footer {
        width: 33%;
        /*  border: 1px solid white; */
    }
    .mapa iframe {
        width: 100%;
    }
    .titulo-footer {
        font-size: 15px;
    }
    .cuerpo-footer p {
        font-size: 15px;
    }
    .alFinal {
        font-size: 15px;
    }
    .parrafo-footer p {
        font-size: 15px;
    }
}